extends templates/layout

block content
    if records
        table(border="0")
            for i=0; records.length; i++
                div
                    tr
                        td=i
                        td=records[i].sentence
                        td=records[i].translated
                        td=records[i].source
                        td=records[i].updated                        
    else
        p="Data Missing"


