extends templates/layout

block content

    div.table__top
        h1.table__top__title="List"
        a(href="/records/upload").btn="Upload"

    div.table
        div
            h4="No."
        div
            h4="Sentence"
        div
            h4="Translated"
        div
            h4="Source"
        div
            h4="Uploaded"    

        if records
            each record in records
                div
                    a(href=`/records/${record.index}/edit`)=record.index
                div
                    h4=record.sentence
                div
                    h4=record.translated
                div
                    h4=record.source
                div
                    h4=record.uploaded

