extends templates/layout

block content
    div.table
        div.row
            div.cell
                h4="No."
            div.cell
                h4="Sentence"
            div.cell
                h4="Translated"
            div.cell
                h4="Source"
            div.cell
                h4="Uploaded"
        div.row
            div.cell
                h4="1"
            div.cell
                h4="test1"
            div.cell
                h4="테스트1"
            div.cell
                h4="https://yahoo.co.jp"
            div.cell
                h4="Mon Apr 11 2022 16:22:01 GMT+0900 (GMT+09:00)"
        div.row
            div.cell
                h4="2"
            div.cell
                h4="test2"
            div.cell
                h4="테스트2"
            div.cell
                h4="https://yahoo.co.uk"
            div.cell
                h4="Mon Apr 11 2022 16:22:01 GMT+0900 (GMT+09:00)"

