extends templates/layout

block content
    if records
        table(border="1")
            div
                tr
                    td="No."
                    td="Sentence"
                    td="Translated"
                    td="Source"
                    td="Uploaded"        
            each record, index in records
                div
                    tr
                        td=index+1
                        td=record.sentence
                        td=record.translated
                        td=record.source
                        td=record.uploaded
    else
        p="Data Missing"


