extends templates/layout

block content
    div.table
        div
            h4="No."
        div
            h4="Sentence"
        div
            h4="Translated"
        div
            h4="Source"
        div
            h4="Uploaded"    

        if records
            each record, index in records
                div
                    h4=index+1
                div
                    h4=record.sentence
                div
                    h4=record.translated
                div
                    h4=record.source
                div
                    h4=record.uploaded

